header h1 {
  font-size: 2em;
  margin: 0px;
  font-variant: small-caps;
}
header {
  padding: 12px 10px 15px;
  text-align: center;
  background: #1c2142;
  user-select: none;
  color: #f9f9f9;
  -webkit-app-region: drag;
}
