*,
*:before,
*:after {
  box-sizing: inherit;
}
html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  color: #f9f9f9;
}

body {
  -webkit-app-region: drag;
  min-height: 100vh;
}
